USE [VBZ_2]
GO
/****** Object:  Table [dbo].[City]    Script Date: 15.03.2026 18:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 15.03.2026 18:51:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Code] [varchar](5) NOT NULL,
	[Code2] [int] NOT NULL,
	[NameCountry_RU] [nvarchar](100) NOT NULL,
	[NameCountry_EN] [nvarchar](50) NOT NULL,
	[CityId] [int] NULL,
 CONSTRAINT [PK_Country_1] PRIMARY KEY CLUSTERED 
(
	[Code2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 15.03.2026 18:51:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameRolse] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Roles_1] PRIMARY KEY CLUSTERED 
(
	[NameRolse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Score]    Script Date: 15.03.2026 18:51:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Score](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Scores] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Score] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityEvents]    Script Date: 15.03.2026 18:51:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityEvents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Event] [nvarchar](150) NOT NULL,
	[Date] [date] NOT NULL,
	[Days] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Img] [varchar](max) NULL,
 CONSTRAINT [PK_SecurityEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SetEvents]    Script Date: 15.03.2026 18:51:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SetEvents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SecEventsId] [int] NOT NULL,
	[Activity] [int] NOT NULL,
 CONSTRAINT [PK_SetEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 15.03.2026 18:51:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [varchar](25) NOT NULL,
	[Name] [varchar](25) NOT NULL,
	[Patronymic] [varchar](25) NOT NULL,
	[Gender] [varchar](15) NOT NULL,
	[Mail] [varchar](35) NOT NULL,
	[DateofBirth] [date] NOT NULL,
	[Country] [int] NOT NULL,
	[Phone] [bigint] NOT NULL,
	[Direction] [varchar](45) NULL,
	[Password] [varchar](20) NOT NULL,
	[Photos] [varchar](max) NOT NULL,
	[RoleName] [varchar](25) NOT NULL,
	[Event] [varchar](55) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Name]) VALUES (1, N'Абаза')
INSERT [dbo].[City] ([Id], [Name]) VALUES (2, N'Абакан')
INSERT [dbo].[City] ([Id], [Name]) VALUES (3, N'Абдулино')
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
INSERT [dbo].[Country] ([Code], [Code2], [NameCountry_RU], [NameCountry_EN], [CityId]) VALUES (N'AF', 4, N'Афганистан', N'Afghanistan', NULL)
INSERT [dbo].[Country] ([Code], [Code2], [NameCountry_RU], [NameCountry_EN], [CityId]) VALUES (N'AL', 8, N'Албания', N'Albania', NULL)
INSERT [dbo].[Country] ([Code], [Code2], [NameCountry_RU], [NameCountry_EN], [CityId]) VALUES (N'AQ', 10, N'Антарктида', N'Antarctica', NULL)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [NameRolse]) VALUES (1, N'Жюри')
INSERT [dbo].[Roles] ([Id], [NameRolse]) VALUES (2, N'Модераторы')
INSERT [dbo].[Roles] ([Id], [NameRolse]) VALUES (3, N'Организаторы')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Score] ON 

INSERT [dbo].[Score] ([Id], [Scores], [UserId]) VALUES (1, 5, 42)
INSERT [dbo].[Score] ([Id], [Scores], [UserId]) VALUES (2, 5, 45)
INSERT [dbo].[Score] ([Id], [Scores], [UserId]) VALUES (3, 5, 59)
SET IDENTITY_INSERT [dbo].[Score] OFF
GO
SET IDENTITY_INSERT [dbo].[SecurityEvents] ON 

INSERT [dbo].[SecurityEvents] ([Id], [Event], [Date], [Days], [CityId], [Name], [Img]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26' AS Date), 1, 34, N'Всероссийский хакато', N'https://raw.githubusercontent.com/sempstybi-hub/img/refs/heads/main/1.jpeg')
INSERT [dbo].[SecurityEvents] ([Id], [Event], [Date], [Days], [CityId], [Name], [Img]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14' AS Date), 3, 34, N'Встреча №3', N'https://raw.githubusercontent.com/sempstybi-hub/img/refs/heads/main/2.jpeg')
INSERT [dbo].[SecurityEvents] ([Id], [Event], [Date], [Days], [CityId], [Name], [Img]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09' AS Date), 2, 2, N'Встреча клуба', N'https://raw.githubusercontent.com/sempstybi-hub/img/refs/heads/main/3.jpeg')
SET IDENTITY_INSERT [dbo].[SecurityEvents] OFF
GO
SET IDENTITY_INSERT [dbo].[SetEvents] ON 

INSERT [dbo].[SetEvents] ([Id], [UserId], [SecEventsId], [Activity]) VALUES (6, 1, 6, 1)
INSERT [dbo].[SetEvents] ([Id], [UserId], [SecEventsId], [Activity]) VALUES (7, 1, 1, 1)
INSERT [dbo].[SetEvents] ([Id], [UserId], [SecEventsId], [Activity]) VALUES (8, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[SetEvents] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Surname], [Name], [Patronymic], [Gender], [Mail], [DateofBirth], [Country], [Phone], [Direction], [Password], [Photos], [RoleName], [Event]) VALUES (1, N'Галкина', N'Верона', N'Васильевна', N'женский', N'obuckridge@sipes.com', CAST(N'1969-05-18' AS Date), 304, 78805446183, N'Дизайн', N'HHikbP', N'foto21.jpg', N'Жюри', NULL)
INSERT [dbo].[User] ([Id], [Surname], [Name], [Patronymic], [Gender], [Mail], [DateofBirth], [Country], [Phone], [Direction], [Password], [Photos], [RoleName], [Event]) VALUES (2, N'Герасимова', N'Айлин', N'Ефимовна', N'женский', N'loraine.aufderhar@johnston.info', CAST(N'1966-09-06' AS Date), 92, 78354786160, N'Дизайн', N'TuhRzy', N'foto22.jpg', N'Жюри', NULL)
INSERT [dbo].[User] ([Id], [Surname], [Name], [Patronymic], [Gender], [Mail], [DateofBirth], [Country], [Phone], [Direction], [Password], [Photos], [RoleName], [Event]) VALUES (3, N'Большаков', N'Августин', N'Алексеевич', N'мужской', N'juanita.kuvalis@yahoo.com', CAST(N'1978-12-07' AS Date), 300, 71737705513, N'ИТ', N'4Y83lz', N'foto23.jpg', N'Жюри', NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Country]  WITH CHECK ADD  CONSTRAINT [FK_Country_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Country] CHECK CONSTRAINT [FK_Country_City]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [FK_Score_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FK_Score_User]
GO
ALTER TABLE [dbo].[SecurityEvents]  WITH CHECK ADD  CONSTRAINT [FK_SecurityEvents_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[SecurityEvents] CHECK CONSTRAINT [FK_SecurityEvents_City]
GO
ALTER TABLE [dbo].[SetEvents]  WITH CHECK ADD  CONSTRAINT [FK_SetEvents_SecurityEvents] FOREIGN KEY([SecEventsId])
REFERENCES [dbo].[SecurityEvents] ([Id])
GO
ALTER TABLE [dbo].[SetEvents] CHECK CONSTRAINT [FK_SetEvents_SecurityEvents]
GO
ALTER TABLE [dbo].[SetEvents]  WITH CHECK ADD  CONSTRAINT [FK_SetEvents_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[SetEvents] CHECK CONSTRAINT [FK_SetEvents_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Country] FOREIGN KEY([Country])
REFERENCES [dbo].[Country] ([Code2])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Country]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Roles] FOREIGN KEY([RoleName])
REFERENCES [dbo].[Roles] ([NameRolse])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Roles]
GO
